@page
@model IndexModel
@{
    ViewData["Title"] = "Hi Knab";
}

<div class="text-center">
    <h1 class="display-4">Hi Knab!</h1>
    <p>This is the solution prepared for Developer Engineer Test. Thanks in advance for your time. <br />It's developed with my twins at home during my holiday. Sorry about the page design and user interface =)</p>
</div>